<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/web-design.png">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Secret Friend 1.0</title>
</head>
<body>
    <main>
        <!----- TITULOS HOME ----->
        <h1> BIENVENID@ A SECRET FRIEND 1.0</h1>

        <div class="titulos">
            <h2>LÍNEA DIRECTA</h2>
            <p>La mejor aplicación web para sorteos de amigo secreto empresarial</p>
        </div>
      
        <!----- IMAGEN HOME ----->
        <div class="imgHome">
            <img src="/img/gift.png" alt="">
        </div>


        <!----- BOTÓN REGISTRO HOME ----->
        <div class="cajaBoton">
          <a href="/registro">REGISTRO</a>
        </div>
    </main>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>

              