@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Roboto&display=swap');

*{
  font-family: 'Poppins', 'roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;

}

body{
    background-color: #000000;
}

h1{
    text-align: center;
    color: #FF4081;
    margin-top: 70px;
    font-size: 50px;
    letter-spacing: 2px;
}

.titulos{
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
}

.titulos h2{
    font-size: 35px;
}

.titulos p{
    font-size: 20px;
}

.imgHome{
    text-align: center;
}

.imgHome img{
    width: 900px;
    height: auto;
    margin-top: 15px;
}